{% extends 'base.html' %}
{% block content %}
<div class="display-2">
    Write a new blog
</div>
<div class="shadow p-3 mb-5 bg-body rounded" style="margin: 40px 40px 40px 40px;">
<form method="POST">
    <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Blog Title">
    </div>
    <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Blog body</label>
    <textarea class="form-control" id="body" name="body" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

{% endblock %}